<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="images/brain_folder.png" , width=100, height=100 alt="Bootstrap"
            padding=0>
        <h2 class="h2">Folders that make themselves<small class="d-none">🛡️</small></h2>
        <p>Nobody wants to go through the hassle of organizing all the papers they read. Thankfully, now you don't have
            to because we do it for you.</p>
    </div>
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="images/file_search_logo.png" , width=100, height=100 alt="Bootstrap"
            padding=0>
        <h2 class="h2">Smart-search integrated file system<small class="d-none">🚀</small></h2>
        <p>With semantic search integrated in your file system, you'll never need to fret if you only remember the idea
            of a paper.</p>
    </div>
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="images/AI_chat.png" , width=100, height=100 alt="Bootstrap" padding=0>
        <h2 class="h2">Informed chats for your research <small class="d-none">📈</small></h2>
        <p>When you have hard questions, don't worry about parsing through all your research. Just ask
            your personal chat, and it will pull up the answers to your questions with the paper they're in.</p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Summaries for all your documents <small class="d-none">🦉</small></h2>
        <p>Just like your real brain, Second Brain summarizes all documents you pass to it so you can pull up the key
            points faster.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Upload all your files or even web pages <small class="d-none">✨</small></h2>
        <p>Second Brain comes with its very own chrome extension so you can scrape articles you're reading on the web.
            That way, you don't need to worry about downloading everything you're interested in.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Organize your data in countless ways <small class="d-none">🧰</small></h2>
        <p>With the option to select multiple views or 'spaces', we can keep your documents organized however makes the
            most sense to you at any time, and you can even swap between all the views you have.</p>
    </div>
</div>